<section class="content">
    <div style="overflow-x:auto;">
       <table datatable [dtOptions]="dtOption" [dtTrigger]="dtTriger" class="table table-bordered row-border hover"
        style="width: 80%;">
        <thead class="text-center thead-dark bg-navy"> 
            <tr>
            <th>Pkey</th>
            <th>CustomerName</th>
            <th>UserName</th>
            <th>PhoneNo</th>
            <th>Passcode</th>
            <th>Action</th>
           </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let emp of customerList">
            <td>{{emp.pkey}}</td>
            <td>{{emp.customer}}</td>
            <td>{{emp.user}}</td>
            <td>{{emp.phonenumber}}</td>
            <td>{{emp.key}}</td>
            
            <td style="width: 25%;">
              <button type="button" class="btn btn-primary" (click)="edit(emp.pkey);"><i
                 class="fa fa-pencil-square-o"></i></button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="delete(emp.pkey);"><i
                 class="fa fa-trash-o"></i></button>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </section>
  
